@import 'tailwindcss';

@theme {
  /* blue */
  --color-ta-blue: rgb(49, 130, 246); /* #3182F6 */
  --color-ta-blue-dark: rgb(27, 100, 218); /* #1B64DA */
  --color-ta-blue-light: rgb(81, 162, 255); /* #51a2ff */

  /* gray */
  --color-ta-svg: rgb(176, 184, 193); /* #B0B8C1 */
  --color-ta-gray: rgb(139, 149, 161); /* #8B95A1 */
  --color-ta-gray-dark: rgb(51, 60, 72); /* #333D48 */
  --color-ta-gray-light: rgb(209, 214, 219); /* #D1D6DB */

  /* black */
  --color-ta-black: rgb(0, 0, 0); /* #4E5958 */
  --color-ta-black-light: rgb(78, 89, 88); /* #4E5958 */
}

@layer base {
  html,
  body {
    @apply m-0 p-0 text-[#333c48]; /* 기본 폰트색 : ta-black-light */
    font-family: 'Pretendard Variable';
  }
}

@layer components {
  .ta-layout {
    @apply min-h-[calc(100vh)]; /* 기본 높이: viewport */
  }

  .ta-content {
    @apply w-full max-w-[1140px]; /* 최대 넓이: 1140px → 전체 넓이를 적용해야 하는 배경을 제외 요소 최상단에 사용 */
  }

  /* .ta-nav-menu-list {
    @apply active:bg-ta-gray-light mx-2 my-auto block cursor-pointer rounded-lg px-5 py-3 whitespace-nowrap hover:bg-gray-100;
  } */

  .ta-nav-menu-item {
    @apply active:bg-ta-gray-light text-ta-black-light mx-2 my-auto block cursor-pointer rounded-lg px-5 py-3 font-medium whitespace-nowrap hover:bg-gray-100;
  }

  .ta-drawer-menu-item {
    @apply active:bg-ta-gray-light text-ta-black-light z-99 my-auto cursor-pointer font-medium whitespace-nowrap hover:bg-gray-100;
  }

  .ta-button-default {
    @apply block w-fit rounded-lg px-4 py-2 text-base font-medium transition-all sm:text-lg;
    @apply bg-ta-blue hover:bg-ta-blue-dark text-white hover:cursor-pointer;
  }

  .ta-button-outline {
    @apply block w-fit rounded-lg px-4 py-2 text-base font-medium transition-all sm:text-lg;
    @apply text-ta-blue border-ta-gray-light hover:text-ta-blue-dark hover:border-ta-gray border-1 bg-white hover:cursor-pointer;
  }

  .ta-button-disabled {
    @apply block w-fit rounded-lg px-4 py-2 text-base font-medium transition-all sm:text-lg;
    @apply bg-ta-gray-light pointer-events-none text-white select-none;
  }
}

@theme {
  --animate-fade-in: fade-in 1.2s ease-in-out forwards;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-bounce-small: bounce-small 1.5s ease-in-out infinite;
  @keyframes bounce-small {
    0%,
    100% {
      transform: translateY(15%);
      opacity: 1;
    }
    50% {
      transform: translateY(0);
      opacity: 0.2;
    }
  }

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
